/* Reset default margin and padding for all elements */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  transition: background-color 0.5s ease-in-out;
  background-image: linear-gradient(to bottom, #f0f0f0, #dcdcdc);
  border: 5px solid #333;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  animation: fadeIn 1s ease-in-out forwards;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('your-pattern-image.jpg');
  opacity: 0.1;
  pointer-events: none;
  z-index: -1;
}

h1,
p {
  font-size: 24px;
  line-height: 1.5;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background 0.3s ease-in-out;
}

h1:hover {
  background: linear-gradient(to bottom, #FF5733, #FFC300); /* Gradient background on hover for h1 */
  color: #fff; /* Change text color on hover */
}

p:hover {
  background: linear-gradient(to bottom, #007BFF, #00FFD8); /* Gradient background on hover for p */
  color: #fff; /* Change text color on hover */
}

span {
  font-weight: bold;
  color: #007BFF;
}

#ledStatus {
  color: #28A745;
}

#temperature {
  color: #FF5733;
  font-weight: bold;
}

#humidity {
  color: #0099cc;
  font-weight: bold;
}

/* Add a pulse animation to the LED status */
#ledStatus {
  animation: pulse 1s ease-in-out infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}